<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cadastro2.css">
    <title>Cadastro de empresa</title>
</head>
<body>
    <div class="cont">
        <div class="imagemzinha">
            <img src="static/imagem.svg" alt="Imagem">
        </div>
        <div class="ponto1">
            <form  id="cnpj-valida"action="/cadastro_empr" method="post">
                   {{form.csrf_token}}
                <div class="titulo">
                    <h1>Cadastre-se</h1>
                    <div class="login-buttonn">
                        <button><a href="login">Entrar</a></button>
                        </div>
                </div>

                <div class="input-groupp">
                     <div class="input-boxx">
                        <label for="firstname">Nome da Empresa</label>
                        <input id="nome_empresa" type="text" name="nome_empresa" placeholder="Digite o nome da empresa" required>
                        </div>

                <div class="input-boxx">
                    <label for="lastname">CNPJ</label>
                    <input id="cpf_cnpj" type="text" name="cnpj" placeholder="Digite seu CNPJ"  required>
                </div>
                <div class="input-boxx">
                    <label for="email">E-mail</label>
                    <input id="email_empresa" type="email" name="email_empresa" placeholder="Digite seu e-mail" required>
                </div>

                <div class="input-boxx">
                    <label for="number">Celular</label>
                    <input id="tel_empresa" type="tel" name="tel_empresa" placeholder="(xx) xxxx-xxxx" maxlength="14" required>
                </div>

                <div class="input-boxx">
                    <label for="password">Senha</label>
                    <input id="senha_empresa" type="password" name="senha_empresa" placeholder="Digite sua senha" minlength="4" required>
                </div>

                <div class="input-boxx">
                    <label for="number">Cep</label>
                    <input id="cep" type="text" name="cep_empresa" placeholder="Digite seu cep" maxlength="9" required>
                </div>




                </div>

                <div class="gender-inputss">
                    <div class="gender-titlee">
                        <h6>Tipo de empresa:</h6>
                    </div>

                    <div class="gender-groupp">
                        <div class="gender-inputt">
                            <input id="empreendedor_individual" type="radio" name="empresa" value="empreendedor_individual">
                            <label for="empreendedor_individual">Empresa Individual</label>
                        </div>

                        <div class="gender-inputt">
                            <input id="eireli" type="radio" name="empresa" value="eireli">
                            <label for="eireli">Eireli</label>
                        </div>

                        <div class="gender-inputt">
                            <input id="mei" type="radio" name="empresa" value="mei">
                            <label for="mei">Microoemprededor Individual</label>
                        </div>

                        <div class="gender-inputt">
                            <input id="other" type="radio" name="empresa" value="empresa">
                            <label for="other">Outros</label>
                        </div>
                    </div>
                </div>

                <div class="continue-buttonn">
                    <button type="submit">Continuar</button>
                </div>
    </form>
          {% with messages = get_flashed_messages()%}
                        {%if messages %}
                            {%for message in messages%}
                                <li class="message-flash">{{message}}</li>
                            {%endfor%}
                        {%endif%}
                {%endwith%}
        </div>
    </div>
</body>
</html>
            
