<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_perfil.css">
    <title>perfil_empr</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <nav>
                <div class="logo">
                    <h1><strong>Seu Perfil</strong></h1>
                </div>
                <button>&#9776</button>
                <ul>
                    <li>
                        <p>Perfil</p>
                    </li>
                    <li>
                        <p>Catalogos</p>
                    </li>
                    <li>
                        <p>Sair</p>
                    </li>
                </ul>
            </nav>
            <div class="textfield">
                <label for="nome">nome:</label>
                <input type="text" nome="nome" placeholder="Digite o seu nome">
            </div>
            <div class="textfield">
                <label for="cnpj">CNPJ:</label>
                <input type="text" nome="cnpj" placeholder="00.000.000/0000-00">
            </div>
            <div class="textfield">
                <label for="e-mail">E-mail:</label>
                <input type="email" nome="e-mail" placeholder="Digite o seu e-mail">
            </div>
            <div class="textfield">
                <label for="cidade">Cidade:</label>
                <input type="text" nome="cidade" placeholder="Digite a sua cidade">
            </div>
            <div class="textfield">
                <label for="estado">Estado:</label>
                <input type="text" nome="estado" placeholder="Digite o seu estado">
            </div>
            <div class="textfield">
                <label for="bairro">Bairro:</label>
                <input type="text" nome="bairro" placeholder="Digite o seu bairro">
            </div>
            <div class="textfield">
                <label for="telefone">Telefone:</label>
                <input type="tel" nome="telefone" placeholder="(00) 00000-000">
            </div>
            <div class="textfield">
                <label for="cep">cep:</label>
                <input type="number" nome="cep" placeholder="00000-000">
            </div>
            <div class="textfield">
                <label for="desc">Descrição dos Certificados e Premiações (se tiver):</label>
                <input type="text" nome="desc" placeholder="Descreva de forma resumida a sua empresa">
            </div>
            <div class="textfield">
                <label for="cert_prem">Certificados e Premiações:</label>
                <input type="file" name="cert_prem">
            </div>
            <button class="btn">Salvar</button>
        </div>
    </div>
</body>
</html>