@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


* {
    font-family: Poppins, sans-serif;
}
		
body *{
    background-color: #fff; 			
    text-align: center;			
    margin: 25px;
}
		 
.container {
    background-color: #f1f1f1; 	
    padding: 15px;
    text-align: center;			
}
		 
h1 {
	color: #2E2E2E;
 }
		 
h2 {
	color: #2E2E2E;
	font-size: 14px;
		 }
		 
.about h1 {
	font-size: 16px;
		 }
		 
		 .about p {
			color: #A5A5A5;
			font-weight: 400;
		 }
		 
		 .about {
			padding: 30px;
			margin: 30px;
			background-color: #fff; 
			border-radius: 0%;
			text-align: center;
		 }
		
		img.avatar {
			width:200px;
			border-radius: 10%;
			filter: grayscale(1);
			transition: 0.5s;
		}
		
		img.ico {
			width:20px;			
			filter: grayscale(1);
			transition: 0.5s;
			
		}
		
		img:hover {				
			filter: grayscale(0);
			cursor: pointer;
			border-radius: 50%;
			box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		}
		
		.negrito {
			font-weight: 700;
        }
