@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.main {
    left: 50%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#f5f5f5, #505050);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', comic sans;
    text-align: center;
    padding: 0%;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000000;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 18px 40px #000000;
    font-family: 'Poppins', comic san;
}

.card h1,
.card h2 {
    color: #f3f3f3;
    font-weight: bold;
    margin: 0;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 106%;
    max-width: 400px;
    border: none;
    border-radius: 100px;
    padding: 15px;
    background: #f1f1f1;
    color: #333333;
    font-size: 12pt;
    font-weight: bold;
    box-shadow: 0px 10px 20px #444442;
    outline: none;
    box-sizing: border-box;
    transition: background-color 200ms ease-in-out;
}

.textfield > label {
    color: #FFFF00;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #999999;
}

.btn-login {
    width: 60%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 100px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #FFFF00;
    background: #444442;
    cursor: pointer;
    box-shadow: 0px 18px 40px -12px #444442;
}

#botao-entrar {
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #FFFF00;
    background: #444442;
    cursor: pointer;
}

.btn-cad_esq {
    color: #ebe7e6;
    background: transparent ;
    width: 60%;
    margin: 20px;
    border: 2px solid #FFD700;
    border-radius: 100px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #FFFF00;
    background: #444442;
    cursor: pointer;
    box-shadow: 0px 18px 40px -12px #444442;
    padding: 12px;
    text-align: center;
    transition: .35s;


}

.btn-cad_esq a {
    text-decoration: none;
    color: rgb(247, 247, 243);
    font-weight: bold;
}

.btn-cad_esq:hover,
.btn-cad_emp:focus{
    color: #444442;
    background: #ffd900;
    opacity: 0.9; /* Ajuste a opacidade */
    transform: scale(1.05);
}

.btn-esqueceu {
    width: 15%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 100px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #444442;
    cursor: pointer;
    box-shadow: 0px 18px 40px -12px #444442;
}

.btn-esqueceu a {
    text-decoration: none;
    color: #FFFF00;
}



@media only screen and (max-width: 950px){
    .card{
        width: 85%;
    }    
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .card > h1{
        display: none;
    }

    .card{
        width: 90%;
    }
}
