<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_busca.css">
    <title>busca_empr</title>
</head>
<body>
    <div class="main">
        <nav>
            <div class="logo">
                <h1><strong>buscar estagiário</strong></h1>
            </div>
            <button>&#9776</button>
            <ul>
                <li>
                    <p>Perfil</p>
                </li>
                <li>
                    <p>Catalogos</p>
                </li>
                <li>
                    <p>Sair</p>
                </li>
            </ul>
        </nav>
        <div class="pesquisa">
            <button class="btn">
                <a href="#">
                <img src="/filtro.png" alt="Lupa" height="20" width="20">
            </a>
        </button>
            <input type="search" class="search-txt" placeholder="pesquisar">
            <button class="btn">
                <a href="#">
                <img src="/lupa.svg" alt="Lupa" height="20" width="20">
            </a>
        </button>
        </div>
    </div>
</body>
</html>