<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cadastro2.css">
    <title>Cadastro de empresa</title>
</head>
<body>
    <div class="cont">
        <div class="imagemzinha">
            <img src="static/imagem.svg" alt="Imagem">
        </div>
        <div class="ponto1">
            <form action="@">
            <div class="titulo">
                <h1>Cadastre-se</h1>
                <div class="login-buttonn">
                        <button><a href="login">Entrar</a></button>
                        </div>
            </div>

                <div class="input-groupp">
                     <div class="input-boxx">
                        <label for="firstname">Nome da Empresa</label>
                        <input id="firstname" type="text" name="nome" placeholder="Digite o nome da empresa" required>
                        </div>

            <div class="input-boxx">
                <label for="lastname">CNPJ</label>
                <input id="lastname" type="text" name="CNPJ" placeholder="Digite seu CNPJ" required>
            </div>
            <div class="input-boxx">
                <label for="email">E-mail</label>
                <input id="email" type="email" name="email_acad" placeholder="Digite seu e-mail" required>
            </div>

            <div class="input-boxx">
                <label for="number">Celular</label>
                <input id="number" type="tel" name="tel" placeholder="(xx) xxxx-xxxx" required>
            </div>

            <div class="input-boxx">
                <label for="password">Senha</label>
                <input id="password" type="password" name="senha" placeholder="Digite sua senha" required>
            </div>


            <div class="input-boxx">
                <label for="confirmPassword">Confirme sua Senha</label>
                <input id="confirmPassword" type="password" name="senha" placeholder="Digite sua senha novamente" required>
            </div>

        </div>

        <div class="gender-inputss">
            <div class="gender-titlee">
                <h6>Tipo de empresa:</h6>
            </div>

            <div class="gender-groupp">
                <div class="gender-inputt">
                    <input id="female" type="radio" name="empresa">
                    <label for="Empresa individual">Empresa Individual</label>
                </div>

                <div class="gender-inputt">
                    <input id="eirele" type="radio" name="empresa">
                    <label for="eire">EIRELI</label>
                </div>

                <div class="gender-inputt">
                    <input id="MEI" type="radio" name="empresa">
                    <label for="mei">Microoemprededor Individual (MEI)</label>
                </div>

                <div class="gender-inputt">
                    <input id="others" type="radio" name="empresa">
                    <label for="none">Outros</label>
                </div>
            </div>
        </div>

        <div class="continue-buttonn">
            <button><a href="login.html">Continuar</a> </button>
        </div>
    </form>
</div>
</div>
</body>
</html>
            
