<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_catalogo_empr.css">
    <title>catalogo_empr</title>
</head>
<body>
    <div class="main">
        <nav>
            <div class="logo">
                <h1><strong>SEUS CATÁLOGOS</strong></h1>
            </div>
            <button>&#9776</button>
            <ul>
                <li>
                    <p>Perfil</p>
                </li>
                <li>
                    <p>Catalogos</p>
                </li>
                <li>
                    <p>Sair</p>
                </li>
            </ul>
        </nav>
        <button class="adicao">
            <a href="#">
                <img src="/adicao.svg" alt="adicao">
            </a>
        </button>
    </div>
</body>
</html>
