<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/catalogo.css">
    <title>Catalogo de estagios</title>
</head>
<body>
    <div class="caixa">
        <header>
            <div class="logo">
                <h1>Marketplace para Estágios</h1>
            </div>

            <div class="cabecalho-link">
                <li>
                    <a href="catalogo">Inicio</a>
                </li>

                <li>
                    <a href="perfil_esta">Perfil</a>
                </li>

                <li>
                    <a href="https://wa.me/5583988284501">Contato</a>
                </li>

                <li>
                    <a href="login">Sair</a>
                </li>
                <div class="icon"><span><ion-icon name="bag-outline"></ion-icon></span></div><!--icon-->
            </header>
                <br>
            <sectio>
                <h1>VAGAS DE ESTÁGIOS</h1>
                <div class="container-card-1">
                    <div class="cards">
                        <img src="static/ifpb.png" alt="ifpb-image">
                            <div class="descricao">
                                <h1>Vaga de Estágio</h1>
                                <p>Área: Técnico em Informática</p>
                                <p>Faixa etária: Apartir de 15 anos</p>
                                <p>Local: IFPB - Campus Santa Rita</p>
                                <p>Descrição: Prioridade para estudantes do 2° e 3° ano</p>
                                    <button class="whats">
                                        <a href="https://wa.me/5583988284501" type="submit">Tenho interesse</a>
                                </button>

                    <div class="cards">
                        <img src="static/correios.png" alt="correios-image">
                        <div class="descricao">
                            <h1>Vaga de Estágio</h1>
                            <p>Área: Técnico em Informática</p>
                            <p>Faixa etária: Apartir de 15 anos</p>
                            <p>Local: Correios</p>
                            <p>Descrição: Prioridade para estudantes do 2° e 3° ano do Ensino Médio ou formados</p>
                            <button class="whats">
                                <a href="https://wa.me/5583988284501" type="submit">Tenho interesse</a>
                            </button>

                    <div class="cards">
                        <img src="static/alpargatas.png" alt="alpargatas-image">
                        <div class="descricao">
                            <h1>Vaga de Estágio</h1>
                            <p>Área: Técnico em Informática e Técnico em Gestão Ambiental</p>
                            <p>Local: Alpargatas (Santa Rita)</p>
                            <p>Faixa etária: Apartir de 15 anos</p>
                            <p>Descrição: Prioridade para estudantes do 2° e 3° ano do Ensino Médio ou formados</p>
                            <button class="whats">
                                <a href="https://wa.me/5583988284501" type="submit">Tenho interesse</a>
                            </button>

                    <div class="cards">
                        <img src="static/energisa.png" alt="energisa-image">
                        <div class="descricao">
                            <h1>Vaga de Estágio</h1>
                            <p>Área: Técnico em Eletroquimíca</p>
                            <p>Faixa etária: Apartir de 15 anos</p>
                            <p>Local: Energisa</p>
                            <p>Descrição: Prioridade para estudantes do 2° e 3° ano do Ensino Médio ou formados</p>
                            <button class="whats">
                                <a href="https://wa.me/5583988284501" type="submit">Tenho interesse</a>
                            </button>

                </div>
            </section>

            <footer>
                <div class="last-text">
                    <p>&copy; Copyright © 2023 All rights reserved | Maqueicous Company.<p>
                </div>
                    </footer>
            
    
                </div>
                

            </div>
        </header>
    </div>
