<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_catalogo_esta.css">
    <title>catalogo_esta</title>
</head>
<body>
    <div class="main">
        <nav>
            <div class="logo">
                <h1><strong>buscar estágio</strong></h1>
            </div>
            <button>&#9776</button>
            <ul>
                <li>
                    <p>Perfil</p>
                </li>
                <li>
                    <p>Catalogos</p>
                </li>
                <li>
                    <p>Sair</p>
                </li>
            </ul>
        </nav>
        <div class="pesquisa">
            <input type="search" class="search-txt" placeholder="pesquisar">
            <button class="btn"><a href="#">
                <img src="/lupa.svg" alt="Lupa" height="20" width="20">
            </a></button>
        </div>
        <h1>catálogos de estágio</h1>
        <nav>
            <a href="#aba 1"></a>
            <a href="#aba 2"></a>
        </nav>
        <div class="abas">
            <div id="aba1">
                <h1>Primeira aba</h1>
            </div>
            <div id="aba2">
                <h1>Segunda aba</h1>
            </div>
        </div>
    </div>
</body>
</html>