<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/escolha.css">
    <title>Escolha de usuário</title>
</head>
<body>
    <div class="main-escolha">
        <div class="left-escolha">
        <h1>Escolha seu usuário<br>para entrar no Cadastro<h1>
            <br>
        <img src="/static/alunos.svg" class="left-alunos" alt="alunos animados">
    </div>
        <div class="right-escolha">
            <div class="card-escolha">  
                <a href="{{ url_for('cadastro1') }}" class="botao_escolha_empr">Estagiário</a>

                <br>
                <a href="{{ url_for('cadastro2') }}" class="botao_escolha_empr">Empresa</a>

            </div>
        </div>
    </div> 
</html>
