<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/escolha.css">
    <title>Escolha de usuário</title>
</head>
<body>
    <div class="main-escolha">
        <div class="left-escolha">
        <h1>Escolha seu usuário<br>para entrar no Cadastro<h1>
            <br>
        <img src="/static/alunos.svg" class="left-alunos" alt="alunos animados">
    </div>
        <div class="right-escolha">
            <div class="card-escolha">  
                <button class="botao_escolha_estag" type="submit">Estagiário
                    <a href="/cadastro_esta"> 
                </button>
                <br>
                <button class="botao_escolha_empr" type="submit">Empresa
                    <a href="/cadastro_esta">
                </button>
            </div>
        </div>
    </div> 
</html>
