<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_perfil.css">
    <title>perfil_esta</title>
</head>
<body>
    <div class="main">
        <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro_esta</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <nav>
                <div class="logo">
                    <h1><strong>Seu perfil</strong></h1>
                </div>
                <button>&#9776</button>
                <ul>
                    <li>
                        <p>Perfil</p>
                    </li>
                    <li>
                        <p>Catalogos</p>
                    </li>
                    <li>
                        <p>Sair</p>
                    </li>
                </ul>
            </nav>
    
            <div class="textfield">
                <label for="foto_perf">Foto de Perfil:</label>
                <input type="file" name="foto_perf">
            </div>
            <div class="textfield">
                <label for="nome">nome:</label>
                <input type="text" nome="nome" placeholder="Digite o seu nome">
            </div>
            <div class="textfield">
                <label for="data_nasc">Data de Nascimento:</label>
                <input type="date" nome="data_nasc">
            </div>
            <div class="textfield">
                <label for="cpf">CPF:</label>
                <input type="number" nome="cpf" placeholder="000000000-00">
            </div>
            <div class="textfield">
                <label for="e-mail_acad">E-mail Academico:</label>
                <input type="email" nome="e-mail_acad" placeholder="Digite o seu e-mail academico">
            </div>
            <div class="textfield">
                <label for="cidade">Cidade:</label>
                <input type="text" nome="cidade" placeholder="Digite a sua cidade">
            </div>
            <div class="textfield">
                <label for="estado">Estado:</label>
                <input type="text" nome="estado" placeholder="Digite o seu estado">
            </div>
            <div class="textfield">
                <label for="bairro">Bairro:</label>
                <input type="text" nome="bairro" placeholder="Digite o seu bairro">
            </div>
            <div class="textfield">
                <label for="telefone">Telefone:</label>
                <input type="tel" nome="telefone" placeholder="(00) 00000-000">
            </div>
            <div class="textfield">
                <label for="cep">cep:</label>
                <input type="number" nome="cep" placeholder="00000-000">
            </div>
            <div class="textfield">
                <label for="campus">campus:</label>
                <input type="text" nome="campus" placeholder="Digite o seu campus">
            </div>
            <div class="textfield">
                <label for="cre">CRE:</label>
                <input type="number" nome="cre" placeholder="00.0">
            </div>
            <div class="textfield">
                <label for="area">Área:</label>
                <input type="text" nome="area" placeholder="Digite a sua área de atuação">
            </div>
            <div class="textfield">
                <label for="curriculo">Curriculo:</label>
                <input type="file" name="curriculo">
            </div>
            <button class="btn">Salvar</button>
        </div>
    </div>
</body>
</html>
    </div>
</body>
</html>